@model HairCut.Models.Testimonial

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="main_content_iner ">
    <div class="container-fluid p-0 sm_padding_15px">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <div class="main-title">
                                <h3 class="m-0">Testimonials</h3>
                            </div>
                        </div>
                    </div>
                    <div class="white_card_body">
                        @using (Html.BeginForm("Create", "Testimonials", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="mb-3">
                                        <label class="form-label">Name</label>
                                        @Html.EditorFor(model => model.Heading, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Heading" } })
                                        @Html.ValidationMessageFor(model => model.Heading, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="mb-3">
                                        <label class="form-label">Profession</label>
                                        @Html.EditorFor(model => model.Profession, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Profession" } })
                                        @Html.ValidationMessageFor(model => model.Profession, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="mb-3">
                                        <label class="form-label">Comment</label>
                                        @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Comment" } })
                                        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Add</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>